table {
    width: 100%;
  }
  
  .container {
    min-width: fit-content;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  mat-spinner {
    margin-left: auto;
    margin-right: auto;
  }
  
  mat-card-header {
    justify-content: right;
  }
  
  .float-right {
    float: right;
  }
  
  .tblRow:hover{
    background-color: gainsboro;
  }