<body>
    <mat-card class="container">
        <mat-card-header class="jCentre">
            <h1>Admin Details</h1>
        </mat-card-header>
        <mat-card-content class="jCentre">
                <mat-form-field appearance="outline" class="wFull">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="admin.adminName">
                </mat-form-field><br>
                <mat-form-field appearance="outline" class="wFull">
                    <mat-label>E-Mail</mat-label>
                    <input matInput [(ngModel)]="admin.adminEmail"> 
                </mat-form-field><br>
                <mat-form-field appearance="outline" class="wFull">  
                    <mat-label >Contact</mat-label>
                    <input matInput [(ngModel)]="admin.adminContact">
                </mat-form-field><br> 
                <mat-form-field appearance="outline" class="wFull">  
                    <mat-label >Contact</mat-label>
                    <input matInput [(ngModel)]="admin.adminContact">
                </mat-form-field><br>       
            
        </mat-card-content>
        <mat-card-actions class="jCentre">
            <button class="resetBut" mat-dialog-close="">Cancel</button>
            <button class="loginBut" mat-button (click)="createAdmin(admin)">Create Admin</button>
        </mat-card-actions>
    </mat-card>
</body>


