.jCentre {
    justify-content: center;
    text-align: center;
}

.wFull {
    width: 100%;
}

.container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: auto;
  }

mat-form-field{
    margin-top: 10px;
}

